[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jax = "*"
ipykernel = "*"
jaxlib = "*"
bokeh = "*"
torchvision = "*"
selenium = "*"
open-spiel = "*"
optax = "*"

[requires]
python_version = "3.7"
